.separator {
  margin-inline: auto;
  width: 90%;
  background: #000;
  height: 1px;
  @apply bg-gray-100;
}


.deleteButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  cursor: pointer;
  border-radius: 9999px;
  background-color: rgb(236 72 153 / 0.2);
  z-index: 1;

  &:hover {
    border-width: 2px;
    border-color: rgb(236 72 153 / 1);
  }

}
