<form class="mb-0" [formGroup]="parent">
  <fieldset class="space-y-6">
    <div>
      <label for="amount">
        Amount
        <div class="mt-1">
          <input id="amount" type="number" required min="1" autofocus formControlName="amount" />
        </div>
      </label>
    </div>

    <div>
      <div class="mt-1">
        <label for="category">
          Category
          <select name="category" id="category" required formControlName="category">
            <option disabled value="">Please select a category</option>
            <option value="Food Order">Food Order</option>
            <option value="Drinks">Drinks</option>
            <option value="Entertainment">Entertainment</option>
          </select>
        </label>
      </div>
    </div>

    <div>
      <label for="date"
        >Date & Time
        <div class="mt-1 flex gap-1">
          <div class="flex-1 w-4/6">
            <input id="date" name="date" type="date" required [formControl]="date" />
          </div>
          <div class="w-2/6">
            <input id="time" name="time" type="time" required [formControl]="time" />
          </div>
        </div>
      </label>
    </div>

    <div>
      <label for="description">
        Description
        <div class="mt-1">
          <textarea id="description" formControlName="description"></textarea>
        </div>
      </label>
    </div>

    <div class="mt-4 flex justify-center gap-2">
      <button class="w-full" plutusButton [secondary]="true" (click)="clear()" type="button">Clear</button>

      <ng-container *ngIf="buttonState$ | async as state">
        <button
          [disabled]="state.isDisabled"
          [type]="state.type"
          (click)="state.name === 'Save' ? onSubmit() : onNext()"
          plutusButton
          class="w-full transition-colors"
          data-test-id="save-next-button">
          {{ state.name }}
        </button>
      </ng-container>
    </div>

  </fieldset>


</form>
