<div>
  <div>
    <div *ngIf="show === 'COMMON'" class="bg-white py-8 px-6 shadow rounded-lg" @scale>
      <plutus-transaction-common-props-form
        [parent]="parent"
        (onSubmit)="save($event)"
        (next)="showFoodForm()"
        class="animate-fade-in">
      </plutus-transaction-common-props-form>
    </div>


    <div class="bg-white py-8 px-6 shadow rounded-lg" @scale *ngIf="show === 'FOOD'">
      <ng-container>
        <plutus-food-order-form
          [parent]="foodOrderForm"
          (back)="showCommonForm()"
          (save)="foodOrderSubmit($event)"
        >
        </plutus-food-order-form>
      </ng-container>
    </div>
  </div>
</div>
